{{ define "main" }}
<section class="hero-section">
    <div class="hero-content">
        <div class="container">
            <div class="club-values">
                Mangfold - Glede - Forbilder
            </div>
        </div>
    </div>

    <div class="hero-carousel">
        {{- $img1 := resources.Get "images/carousel/464878130_9185945281420352_1213725695298816902_n.jpg" -}}
        {{- $img2 := resources.Get "images/carousel/DSC00493.jpg" -}}
        {{- $img3 := resources.Get "images/carousel/Fra-kampen-3-bannerformat-1280x500.jpg" -}}
        {{- $img4 := resources.Get "images/carousel/IMG_3684.JPG" -}}
        {{- $img5 := resources.Get "images/carousel/IMG_7804-1280x500.jpg" -}}
        {{- $img6 := resources.Get "images/carousel/Mange-langs-sidelinja-bannerformat-1280x500.jpg" -}}
        <div class="carousel-slide active" style="background-image: url('{{ $img1.RelPermalink }}')"></div>
        <div class="carousel-slide" style="background-image: url('{{ $img2.RelPermalink }}')"></div>
        <div class="carousel-slide" style="background-image: url('{{ $img3.RelPermalink }}')"></div>
        <div class="carousel-slide" style="background-image: url('{{ $img4.RelPermalink }}')"></div>
        <div class="carousel-slide" style="background-image: url('{{ $img5.RelPermalink }}')"></div>
        <div class="carousel-slide" style="background-image: url('{{ $img6.RelPermalink }}')"></div>
    </div>
</section>

<div class="cta-section">
    <div class="container">
        <a href="/innmelding" class="cta-button">MELD DEG INN</a>
    </div>
</div>

{{ if .Content }}
<div class="content-section">
    <div class="container">
        {{ .Content }}
    </div>
</div>
{{ end }}
{{ end }}